<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" />
  <title>test</title>
  
</head>
<body>
  <header>
    <div class="navbar__button">
      <label for="show-nav">
        <span class="material-icons material-icons-outlined">
          menu
          </span>
      </label>
      
    </div>
    <input type="checkbox" id="show-nav" hidden>
    <ul class="navbar__menu">
      <li>
        <label for="show-submenu">Categorias</label>
        <input type="checkbox" id="show-submenu" hidden>
        <ul class="submenu">
          <li><a href="#clothing">Ropa</a></li>
          <li><a href="#accesories">Accesorios</a></li>
        </ul>
      </li>
      <li><a href="/my-deliveries">Mis pedidos</a></li>
      <li><label for="show-submenu2">Categorias</label>
        <input type="checkbox" id="show-submenu2" hidden>
        <ul class="submenu">
          <li><a href="#clothing">Ropa</a></li>
          <li><a href="#accesories">Accesorios</a></li>
        </ul>
      </li>
      <li><a href="#logout">Cerrar Sesion</a></li>
    </ul>
  </header>
  <main>
    <h1>
      Navbar only with css
    </h1>
  </main>
</body>
</html>
